# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Cursor  
#  Cursor is an AI-powered code editor.`.cursorignore` specifies files/directories to 
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore
tests/data
tests/data2

*.jsonl
*.zip
vanilla_bench.py
paraOCR_performance_log.jsonl
powerocr_performance_log.jsonl
temp.py
tests/test_data/data/67f491b63f7bb4e5ad33812f_phu-luc-03.pdf
tests/test_data/data/67f491b63f7bb4e5ad338123_bds-kavi-don-bo-sung-yeu-cau-khoi-kien-03-4-25.pdf
tests/test_data/data/67f491b63f7bb4e5ad338125_bds-kavi-thong-bao-nop-tien-tam-ung-an-phi-04-4-25.pdf
tests/test_data/data/67f491b63f7bb4e5ad338127_bds-kavi-bang-ke-phi-dich-vu-du-an-ruby-20250404-0001.pdf
tests/test_data/data/67f491b63f7bb4e5ad338129_bds-kavi-bien-lai-thu-tam-ung-an-phi-le-phi-toa-an-04-4-25.pdf
tests/test_data/data/67f491b63f7bb4e5ad338131_hop-dong-kem-pl-du-an-kcp.pdf
tests/test_data/data/67f491b63f7bb4e5ad338133_phu-luc-02.pdf
tests/test_data/data/67f491b63f7bb4e5ad338135_thong-bao-chuyen-don-khoi-kien.pdf
tests/test_data/data/67f491bf3f7bb4e5ad33962a_tb-thu-ly.jpg
tests/test_data/data/67f491bf3f7bb4e5ad339635_gpkd-kcp.pdf
tests/test_data/data2/giao_trinh_ls_1-100.pdf
tests/test_data/data4/67f491b53f7bb4e5ad335cac_trieu-tap-trang-toa-quan-1.pdf
tests/test_data/data4/67f491f63f7bb4e5ad340ddd_phieu-gui-buu-dien-hntd-cao-thi-thuy-trang.pdf
tests/test_data/data4/67f491f63f7bb4e5ad3409f0_phieu-gui-buu-dien-ca-q1-ca-tp-dkn-toa-tp.pdf
tests/test_data/data4/67f491f73f7bb4e5ad340dec_ho-so-chi-trang.pdf
tests/test_data/nick/2014_0217_140217.jpg
tests/test_data/nick/2014_0217_140217.txt
tests/test_data/nick/2014_0217_140347.jpg
tests/test_data/nick/2014_0217_140347.txt
tests/test_data/nick/2014_0217_155144.jpg
tests/test_data/nick/2014_0217_155144.txt
tests/test_data/nick/2014_0218_075915.jpg
tests/test_data/nick/2014_0218_075915.txt
tests/test_data/nick/2014_0218_080045.jpg
tests/test_data/nick/2014_0218_080045.txt
tests/test_data/nick/2016_0318_082935_resized.jpg
tests/test_data/nick/2016_0318_082935_resized.txt
tests/test_data/nick/2016_0318_083131_resized.jpg
tests/test_data/nick/2016_0318_083131_resized.txt
tests/test_data/nick/2025. GCN SỞ HỮU CỔ PHẦN, SỔ ĐK CỔ ĐÔNG__8.pdf
tests/test_data/nick/2025. GCN SỞ HỮU CỔ PHẦN, SỔ ĐK CỔ ĐÔNG__8.txt
tests/test_data/nick/2025. GCN SỞ HỮU CỔ PHẦN, SỔ ĐK CỔ ĐÔNG_.pdf
tests/test_data/nick/2025. GCN SỞ HỮU CỔ PHẦN, SỔ ĐK CỔ ĐÔNG_.txt
tests/test_data/nick/2025. GCN SỞ HỮU CỔ PHẦN, SỔ ĐK CỔ ĐÔNG_nb.pdf
tests/test_data/nick/2025. GCN SỞ HỮU CỔ PHẦN, SỔ ĐK CỔ ĐÔNG_nb.txt
tests/test_data/nick/2025. GCN SỞ HỮU CỔ PHẦN, SỔ ĐK CỔ ĐÔNG.pdf
tests/test_data/nick/2025. GCN SỞ HỮU CỔ PHẦN, SỔ ĐK CỔ ĐÔNG.txt
tests/test_data/nick/20170104 shares allocation.pdf
tests/test_data/nick/BCTC 2014.pdf
tests/test_data/nick/BCTC 2014.txt
tests/test_data/nick/BCTC 2015.pdf
tests/test_data/nick/BCTC 2015.txt
tests/test_data/nick/BCTC 2016.pdf
tests/test_data/nick/BCTC 2016.txt
tests/test_data/nick/Bien nhận tiền môi giới bán tòa nhà.jpg
tests/test_data/nick/Bien nhận tiền môi giới bán tòa nhà.txt
tests/test_data/nick/Đề nghị thanh toán công chứng.jpg
tests/test_data/nick/Đề nghị thanh toán công chứng.txt
tests/test_data/nick/Giấy nộp tiền thuế GTGT 23062025 - thue chuyen nhuong.pdf
tests/test_data/nick/Giấy nộp tiền thuế TNDN 23062025 - thue chuyen nhuong.pdf
tests/test_data/nick/Hóa đơn thẩm định.pdf
tests/test_data/nick/HOP DONG TRICH THUONG_CN TOA NHA.pdf
tests/test_data/nick/HOP DONG TRICH THUONG_CN TOA NHA.txt
tests/test_data/nick/IMG-20250610-WA0002.jpg
tests/test_data/nick/IMG-20250610-WA0002.txt
tests/test_data/nick/IMG-20250610-WA0003.jpg
tests/test_data/nick/IMG-20250610-WA0003.txt
tests/test_data/nick/IMG-20250610-WA0004.jpg
tests/test_data/nick/IMG-20250610-WA0004.txt
tests/test_data/nick/IMG-20250610-WA0005.jpg
tests/test_data/nick/IMG-20250610-WA0005.txt
tests/test_data/nick/img001.JPG
tests/test_data/nick/img001.txt
tests/test_data/nick/img002.JPG
tests/test_data/nick/img002.txt
tests/test_data/nick/img003.JPG
tests/test_data/nick/img003.txt
tests/test_data/nick/Nộp thuế trước bạ lần 1.jpg
tests/test_data/nick/Nộp thuế trước bạ lần 1.txt
tests/test_data/nick/Phí công chứng.jpg
tests/test_data/nick/Phí công chứng.txt
tests/test_data/nick/Share certificate .jpg
tests/test_data/nick/Share certificate .txt
tests/test_data/nick/Share certificate from Dien.jpg
tests/test_data/nick/Share certificate from Dien.txt
tests/test_data/nick/Thông báo nộp thuế.jpg
tests/test_data/nick/Thông báo nộp thuế.txt
tests/test_data/nick/Thuế tncn và thuế trước bạ đợt 2.pdf
tests/test_data/nick/Thuế tncn và thuế trước bạ đợt 2.txt
tests/test_data/nick/Uỷ nhiệm chi chuyển khoản 1 tháng lương-.pdf
tests/test_data/nick/Uỷ nhiệm chi chuyển khoản 1 tháng lương-.txt
tests/test_data/nick/Viet-Uc Share Certificate 005.pdf
tests/test_data/nick/Viet-Uc Share Certificate 005.txt
tests/test_data/nick/VIETUC-MOM-20140217_0.pdf
tests/test_data/nick/VIETUC-MOM-20140217_0.txt
